{
    "env": {
        "esm": {
          "presets": [
            [
              "@babel/preset-env",
              {
                "targets": "node 21",
                "modules": false
              }
            ]
          ],
          "plugins": [
            [
              "@babel/plugin-transform-runtime",
              {
                "helpers": false
              }
            ],
            [
              "babel-plugin-add-import-extension",
              {
                "extension": "js"
              }
            ]
          ]
        }
      }
}