/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #4f5bd9;
  --ifm-color-primary-darker: #4853c8;
  --ifm-color-primary-darkest: #3a45a4;
  --ifm-color-primary-light: #6d78f4;
  --ifm-color-primary-lighter: #7c85f6;
  --ifm-color-primary-lightest: #939af8;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #4f5bd9;
  --ifm-color-primary-darker: #4853c8;
  --ifm-color-primary-darkest: #3a45a4;
  --ifm-color-primary-light: #6d78f4;
  --ifm-color-primary-lighter: #7c85f6;
  --ifm-color-primary-lightest: #939af8;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
